html {
  font: normal normal 16px/100% Georgia, Times, 'Times New Roman', serif;
  color: #222;
  margin: 0;
  padding: 0;
  position: relative;
  min-height: 100%;
}
body {
  font-size: 1rem;
  line-height: 3rem;
  margin: 0 0 20rem;
  padding: 0;
}
a {
  text-decoration: none;
  color: #3F51B5;
}
a:hover {
  text-decoration: none;
}
a:focus {
  outline: 0 none rgba(0,0,0,0);
}
header {
  text-align: center;
}
header a {
  color: #222;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Lato', 'Open Sans', 'Helvetica Neue', Helvetica, 'Lucida Grande', sans-serif;;
  line-height: 1.3rem;
}
h1 {
  font-size: 2.5rem;
}
h1 small{
  margin-top: 1.5rem;
  font-size: 1.2rem;
  display: block;
}
h1 a:hover {
  text-decoration: none;
  color: #3F51B5;
}
nav {
  margin: 1.5rem auto;
  max-width: 52rem;
  border-top: 0.1rem solid #aaa;
  border-bottom: 0.1rem solid #aaa;
}
nav a {
  padding: 0.5rem 1.5rem;
  display: inline-block;
}
main {
  max-width: 52rem;
  margin: 0 auto;
  position: relative;
}
article {
  border-bottom: 0.1rem solid #aaa;
  padding: 0 0 2rem;
}
a[rel="author"] {
  display: block;
  line-height: 100%;
  font: normal normal 1.4rem/140% 'Open Sans', 'Helvetica Neue', Helvetica, 'Lucida Grande', sans-serif;
}
a[rel="author"]:hover {
  text-decoration: none;
}
a[rel="author"] img {
  display: block;
  float: left;
  margin-right: 1rem;
}
a[rel="author"] time {
  color: #222;
}
img {
  max-width: 100%;
  height: auto;
  display: inline-block;
}
figure {
  text-align: center;
}
figcaption {
  font-style: italic;
}
code, pre, samp, kbd {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  color: #111;
}
kbd {
  font-weight: bold;
}
pre, code {
  padding: 0.2rem 0.4rem;
  font-size: 0.9rem;
  color: #bd4147;
  background-color: #f7f7f9;
  border-radius: 0.25rem;
}
blockquote {
  padding: 1.5rem;
  margin: 1rem 0;
  font-size: 2.1rem;
  border-left: 0.25rem solid #eee;
}
hr {
  border: none;
}
sup, sub {
  font-size: 0.75rem;
  line-height: 1rem;
}
footer {
  text-align: center;
  padding: 4rem 0 3rem;
  background: #eee;
  margin: 4rem 0 0;
  border-top: 0.1rem solid #aaa;
  font: normal normal 0.9rem/140% 'Open Sans', 'Helvetica Neue', Helvetica, 'Lucida Grande', sans-serif;
  position: absolute;
  bottom: 0;
  height: 6rem;
  width: 100%;
}
